body {
  height: 100%;
	background-image: url("https://wallpapercave.com/dwp1x/wp1966212.jpg");
	font-family: 'Ms Madi', cursive;
	background-attachment: fixed;
}
.buttwrap {
	margin: auto;
	width: 250px;
}

.new {
	width: 250px;
	height: 200px;
	color: black;
	margin: auto;
	margin-top: 15px;

	border-radius: 2%;
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
	font-size: 30px;
}

.list{
	margin: auto;
	width: 300px;
}
.newbutton {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.newbutton:focus {
  outline: 0;
}

.newbutton:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.newbutton:hover:after {
  bottom: 2px;
  left: 2px;
}

